/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

.ruby-version
.ruby-gemset

# rspec failure tracking
.rspec_status


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
